@import "../style.css";

main {
    width: 80%;
    margin: 0 auto;
    margin-top: 120px;
    padding: 2rem;
}

.head-text {
    text-align: center;
}

.head-text h1 {
    font-size: 42px;
}

.head-text p {
    color: gray;
}

.saved-jobs {
    margin-top: 24px;
}

header {
    background-color: rgba(14, 83, 151, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding: 24px 48px 24px 48px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

header a {
    text-decoration: none;
}


.logo {
    font-size: 2rem;
    font-weight: 600;
    display: inline;
}

.logo .pasar {
    color: #FFFFFF;
}

.logo .kerja {
    color: #FFA500;
    font-style: italic;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
}

nav ul li a.button {
    padding: 0.5rem 1rem;
    border: 2px solid #FFA500; /* Oranye */
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

nav ul li a.button:hover {
    background-color: #FFA500; /* Oranye */
    color: #FFFFFF;
}

.job-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.job-list li {
    flex: 1 1 200px;
    margin: 0.5rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.job-list img {
    max-width: 150px;
}

.job-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.job-list h3 {
    margin: 0;
    color: #1e90ff;
}

.job-list p {
    margin: 0.5rem 0;
}

.not-exist-jobs {
    font-size: 24px;
}

@media (max-width: 768px) {
    main {
        width: 100%;
        margin-top: 200px;
    }

    header {
        flex-direction: column;
        padding: 16px;
    }

    nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    .search-jobs-form form {
        flex-direction: column;
    }

    .search-jobs input, .search-jobs button {
        width: 100%;
        margin-bottom: 10px;
    }

    .company-logos {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .job-categories .categories {
        flex-direction: column;
    }

    .job-list li {
        width: 100%;
        margin: 0.5rem 0;
    }

    .job-list img {
        max-width: 100px;
    }

    .search-jobs {
        height: 400px;
    }
}