@import "../style.css";

main {
    width: 80%;
    margin: 0 auto;
    margin-top: 120px;
    padding: 2rem;
}

header {
    background-color: rgba(14, 83, 151, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding: 24px 48px 24px 48px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

header a {
    text-decoration: none;
}


.logo {
    font-size: 2rem;
    font-weight: 600;
    display: inline;
}

.logo .pasar {
    color: #FFFFFF;
}

.logo .kerja {
    color: #FFA500;
    font-style: italic;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
}

nav ul li a.button {
    padding: 0.5rem 1rem;
    border: 2px solid #FFA500; /* Oranye */
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

nav ul li a.button:hover {
    background-color: #FFA500; /* Oranye */
    color: #FFFFFF;
}

.head-text {
    text-align: center;
}

.head-text h1 {
    font-size: 42px;
}

.head-text p {
    color: gray;
}

.profile-information {
    margin-top: 60px;
}

.renew-profile-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: rgba(14, 83, 151, 0.8);
    text-decoration: none;
    color: white;
    border-radius: 16px;
}

.profile-picture {
    display: flex;
    align-items: center;
}

.profile-picture img {
    max-width: 130px;
    max-height: 130px;
}

.profile-picture p {
    margin-left: 16px;
}

label {
    display: block;
}

input {
    margin-top: 4px;
    height: 48px;
    padding: 16px;
    border-radius: 16px;
    border: none;
}

label {
    margin-top: 16px;
}

label, input, textarea {
    width: 100%;
}

textarea {
    height: 200px;
    border-radius: 16px;
    padding: 16px;
    border: none;
    resize: none;
}