@import "../style.css";

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}

.icon {
    margin-right: 12px;
}

.job-listing {
    border: 1px solid black;
}

.job-card:first-of-type {
    margin-top: 16px;
}

.sidebar .logo {
    font-size: 28px;
}

.logo span {
    color: orange;
    font-style: italic;
}

/* Sidebar Styling */
.sidebar {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.sidebar .sidebar-on {
    background-color: #e4e8f0;
    color: #5A67D8;
    border-radius: 16px;
}

.sidebar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 3rem;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    margin-bottom: 1.5rem;
}

.sidebar nav ul li a {
    display: inline-flex;
    align-items: center;
    font-size: 1.1rem;
    margin-right: 16px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.sidebar nav ul li a:hover {
    color: #5A67D8;
}

.sidebar nav ul li {
    margin-bottom: 1.5rem;
    
}

.sidebar nav ul li a {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: #333;
    border-radius: 16px;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar nav ul li a span {
    margin-right: 10px;
}

.sidebar nav ul li a:hover {
    background-color: #e4e8f0;
    color: #5A67D8;
    border-radius: 16px;
}

.main-content {
    padding: 30px;
    background-color: #f3f6fb;
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 2rem;
}

.user-action-logout {
    display: inline-flex;
}

.user-action-logout-logo {
    margin-right: 8px;
}

.job-posting-info img {
    width: 100px;
}

.action-button {
    text-align: right;
}

.action-button a {
    display: inline-block;
    background-color: rgba(14, 83, 151, 0.8);
    margin-right: 12px;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
}

.job-applications-submitted h2 {
    margin-top: 12px;
}

.application-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.application {
    padding: 1rem;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

.application:first-of-type {
    margin-top: 16px;
}

.application h3 {
    font-size: 1.2rem;
    margin: 0;
}

.application p {
    color: #888;
    margin: 0.5rem 0;
}

.view-application {
    text-decoration: none;
    color: #0066CC;
    font-weight: bold;
}