.right-panel {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.calendar {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
}

.new-applicants {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
}

.new-applicants h3,
.calendar h3 {
    color: #333;
    font-size: 18px;
}

.applicant {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
}
