@import "style.css";

body {
    background-color: #FFFFFF;
    color: #333;
}

main {
    width: 80%;
    margin: 0 auto;
    margin-top: 120px;
    padding: 2rem;
}

header {
    background-color: rgba(14, 83, 151, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding: 24px 48px 24px 48px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

header a {
    text-decoration: none;
}


.logo {
    font-size: 2rem;
    font-weight: 600;
    display: inline;
}

.logo .pasar {
    color: #FFFFFF;
}

.logo .kerja {
    color: #FFA500;
    font-style: italic;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
}

nav ul li a.button {
    padding: 0.5rem 1rem;
    border: 2px solid #FFA500; /* Oranye */
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

nav ul li a.button:hover {
    background-color: #FFA500; /* Oranye */
    color: #FFFFFF;
}

.job-position {
    font-size: 1.5rem;
}

.job-company {
    color: rgb(130, 130, 130);
}

.job-location {
    display: flex;
    margin-top: 16px;
}

.job-location p {
    margin-left: 8px;
}

.job-common-info img {
    width: 100px;
}

.button-apply {
    display: inline-block;
    margin-top: 16px;
    background-color: rgba(14, 83, 151, 0.8);
    padding: 16px 24px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 16px;
}

.button-apply span {
    display: flex;
    align-items: center;
}

.job-description {
    margin-top: 24px;
}

.job-description-title {
    font-size: 1.3rem;
    font-weight: 500;
}

.job-description-detail {
    margin-top: 12px;
    line-height: 2;
}

@media (max-width: 768px) {
    main {
        width: 100%;
    }

    .button-apply {
        width: 100%;
        text-align: center;
    }

    .button-apply span {
        justify-content: center;
    }

    header nav {
        display: none;
    }
}